.layui-body > .layui-tab {
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.layui-layout-admin .liguo-side {
    top: 50px;
}

.layui-layout-admin .layui-body {
    top: 50px;
    bottom: 0px;
}

.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this:hover,
.layui-nav-tree .layui-this a,
.layui-nav-tree .layui-this:hover a,
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav .layui-nav-bar {
    background-color: #ff7400;
}

#win-iframe-tab-title {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    padding: 0px 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    /*overflow: hidden;*/
    overflow-x: auto;

    scrollbar-darkshadow-color: rgba(0, 0, 0, .5);
    scrollbar-base-color: rgba(0, 0, 0, .3);
}

#win-iframe-tab-title::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background-color: rgba(0, 0, 0, .3);
}

#win-iframe-tab-title::-webkit-scrollbar-thumb {
    height: 8px;
    width: 8px;
    background-color: rgba(0, 0, 0, .5);
}

#win-iframe-tab-title > span {
    position: fixed;
    top: 60px;
    right: 0px;
    background-color: white;
}

#win-iframe-tab-title li {
    height: 40px;
    border-right: 1px solid #f6f6f6;
    position: relative;
}

#win-iframe-tab-title li .layui-tab-close {
    border-radius: 20px;
}

#win-iframe-tab-title li:after {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 2px;
    width: 0px;
    content: ' ';
    background-color: #ff7400;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

#win-iframe-tab-title li:hover::after {
    width: 100%;
}

#win-iframe-tab-title li:first-child > .layui-tab-close {
    display: none;
}

#win-iframe-tab-title li:hover {
    background-color: #f8f8f8;
}

#win-iframe-tab-title .layui-this {
    color: #ff7400;
    background-color: #f8f8f8;
}

#win-iframe-tab-title .layui-this:after {
    top: 38px;
    border-color: #ff7400;
    width: 100%;
}

#win-iframe-tab-content {
    position: absolute;
    top: 41px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#win-iframe-tab-content > .layui-tab-item,
#win-iframe-tab-content iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#win-iframe-tab-content iframe {
    border: 0px;
}

.liguo-header {
    background-color: white !important;
    height: 50px;
}

.liguo-header::after {
    position: absolute;
    content: ' ';
    bottom: 0px;
    height: 1px;
    left: 200px;
    background-color: #eee;
    width: 100%;
}

.liguo-header .layui-logo {
    text-align: left;
    width: 170px;
    line-height: 48px;
    padding: 0px 15px;
    color: #ff7400;
    background-color: #20222A;
}

.liguo-header .layui-logo h3 small {
    font-size: 12px;
    color: #aaa;
}

.liguo-header .layui-nav .layui-nav-bar {
    /*height: 2px;*/
    top: 0px !important;
}

.liguo-header .layui-nav-item {
    line-height: 50px;
}

.liguo-header .layui-nav-item a:hover,
.liguo-header .layui-nav-item a {
    color: #333;
}

.liguo-header .layui-this::after {
    display: none;
}

.liguo-header .layui-nav-child {
    top: 55px;
}

.liguo-header .layui-nav .layui-nav-more {
    border-color: #333 transparent transparent;
}

.liguo-header .layui-nav .layui-nav-mored {
    border-color: transparent transparent #333;
}



/*layer*/
.layer-top-100 {
    top: 100px!important;
}

.liguo-layer-share-member {
    width: 460px;
}

.liguo-layer-share-member .layui-layer-content {
    padding: 12px;
}